body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: roboto, sans-serif;
}

.header {
    background-color: #213648;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    font-size: large;
    font-weight: bold;
}

.headerlist {
    display:flex;
    gap: 20px;
    color: #c9bfbf;
    cursor: pointer;
}

.maincon {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sec1, .sec2, .sec3, .sec4 {
    height: 400px;
}

.sec1 {
    background-color: #213648;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 150px;
    gap: 40px;
}

.left1 {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.sec1 #h1 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.sec1 p {
    color: #c9bfbf;
    margin: 8px 0 5px 0;
}

.right1 {
    width: 400px;
    height: 200px;
    background-color: grey;
    flex-shrink: 0;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
    color: white;
}

.left1 button {
    margin: 8px 0 0 0;
    background-color: #3b64eb;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px 0 150px;
    flex-grow: 1;
}

.sec2 #h2 {
    font-size: 30px;
    font-weight: bolder;
}

.conlist {
    display: flex;
    text-align: center;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
    flex: 0 1 0;
    flex-wrap: nowrap;
}

.conlist li {
    max-width: 150px;
    flex-shrink: 0;
}

.conlist li div {
    border: solid;
    border-color: #3b64eb;
    padding: 50px 0 70px 0;
    border-radius: 10px;
}